*{
    margin: 0;
    padding: 0;
    font-size: 12px;//全局文字大小
}
a{
    color: #333;
    line-height: 33px;//top标签样式
}
a:hover{
    color: maroon;
}
#top_bg{
    height: 33px;
    weight:100% ;
    background: url("../images/top_bg.jpg")repeat-x;//repeat-x在水平方向上平铺
}
.top{
    height: 33px;
    weight:1200px ;
    margin :0 auto;
}
.hi {
    font-size: 12px;
    font-family: "宋体";
    color: #333;
    line-height: 33px;
}
.login_reg{
    font-size: 12px;
    font-family: "宋体";
    color: #333;
    line-height: 33px;
}
